# Исключение виртуального окружения
venv/

# Служебные файлы Python
__pycache__/
*.pyc
*.pyo

# Логи и временные файлы
*.log
*.tmp

# Конфигурационные файлы среды
.env

# Настройки IDE
*.idea/
*.vscode/

# Системные файлы
.DS_Store
Thumbs.db
 
